html, body {
				margin: 0;
				overflow: hidden;
				height: 100%;
				width: 100%;
			}
h1{
		color:blue;
	}
#it{
	background-color:lightgrey;
}
#line{
	height:30px;
	width:30px;
}
#lineButton{
	margin-bottom: 8px;
	background-color: lightblue;
}
